<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Rate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="page">
        <div class="logo_currency max_w_website">
            <div class="logo">
                <img src="Vector.png">
            </div>
            <div class="name">Exchange Rate</div>
        </div>
        <header>
            <div class="menu">
                <span class="name_menu">Tỷ giá ngân hàng <i class="fa-solid fa-angle-down"
                        style="height: 18px;"></i></span>
                <div class="list_items">
                    <div class="vcb bank"> <a class="vcb" href="#">Tỷ giá Vietcombank</a></div>
                    <div class="tcb bank"><a href="#">Tỷ giá Techcombank</a></div>
                </div>
            </div>
            <div class="date">
                <input type="date">
            </div>
        </header>
        <div class="container max_w_website">
            <p class="title">Tỷ giá trung bình hôm nay</p>

            <div class="table">
                <span class="size_20px">Tỷ giá được cập nhật vào ngày<span class="size_20px"> 23/10/2023 </span>lúc
                    00h00 và chỉ mang tính chất tham khảo
                </span>
                <div class="wrapper_table">
                    <div class="row">
                        <div class="item1 header_table border_1">Tên ngoại tệ</div>
                        <div class="item2 header_table border_1">Mã ngoại tệ</div>
                        <div class="item3 header_table border_1">Mua tiền mặt</div>
                        <div class="item4 header_table border_1">Mua chuyển khoản </div>
                        <div class="item5 header_table border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                    <div class="row">
                        <div class="item1  border_1">Tên ngoại tệ</div>
                        <div class="item2  border_1">Mã ngoại tệ</div>
                        <div class="item3  border_1">Mua tiền mặt</div>
                        <div class="item4  border_1">Mua chuyển khoản </div>
                        <div class="item5  border_1">Bán</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>